<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Edit Session</h1>
    <form action="/session/<%=meditation._id%>?_method=PUT" method="POST">
        Name:<input type="text" name="name" placeholder="<%= meditation.name %>"><br>
        Date:<input type="text" name="date" placeholder="<%= meditation.date %>"><br>
        Duration:<input type="text" name="duration" placeholder="<%= meditation.duration %>"><br>
        Type Of Meditation:  
        <select name="typeOfMeditation" placeholder="<%= meditation.typeOfMeditation %>">
            <option value="Zen">Zen</option>
            <option value="Vipassana">Vipasaana</option>
            <option value="Kundalini">Kundalini</option>
            <option value="Visualization">Visualization</option>
        </select>  
        <br>
        Intention:<input type="text" name="intention" placeholder="<%= meditation.intention %>"><br>
        Setting:<input type="text" name="setting" placeholder="<%= meditation.setting %>"><br>
        <input type="submit" value="Submit"> <button action="/session/new">New Session</button>
        </form>
    
</body>
</html>